@font-face {
  font-family: 'Raleway';
  src: url("fonts/Raleway-Light.ttf"); }
@font-face {
  font-family: 'Penna';
  src: url("fonts/penna.otf"); }
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Light.ttf"); }
@font-face {
  font-family: 'Tamoro';
  src: url("fonts/Tamoro.ttf"); }
@font-face {
  font-family: 'Death';
  src: url("movieSearcher/fonts/death.ttf"); }
html {
  background: url(images/forest.jpeg) no-repeat center center fixed;
  background-size: cover; }

h1 {
  font-family: Penna, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 6em;
  color: white;
  text-shadow: -1px -1px 0 #348781, 1px -1px 0 #348781, -1px 1px 0 #348781, 1px 1px 0 #348781;
  margin-bottom: 50px; }
  @media (max-width: 620px) {
    h1 {
      font-size: 5em; } }
  @media (max-width: 509px) {
    h1 {
      font-size: 4em;
      margin-bottom: 20px; } }

h2 {
  font-family: Penna, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  color: white;
  margin-top: 0px;
  padding-bottom: 10px; }
  h2 #lastWords {
    color: #348781;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; }
  @media (max-width: 620px) {
    h2 {
      font-size: 3em; } }
  @media (max-width: 509px) {
    h2 {
      font-size: 2em; } }

header {
  margin: 50px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.4); }

nav {
  margin-bottom: 110px;
  margin-top: 20px;
  margin-left: 100px; }
  @media (max-width: 500px) {
    nav {
      display: none; } }

.row {
  text-align: center;
  margin: 0 auto;
  display: block; }
  .row .navText {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    width: 160px;
    padding: 7px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4); }
    .row .navText a {
      color: white;
      font-weight: bold;
      text-decoration: none; }
    .row .navText:hover {
      background: rgba(0, 0, 0, 0.7);
      border: 2px solid black; }
      .row .navText:hover a {
        font-weight: bold; }
    @media (max-width: 990px) {
      .row .navText {
        width: 90px; } }
    @media (max-width: 678px) {
      .row .navText {
        width: 50px;
        font-size: 0.6em; } }

main {
  margin-top: 200px; }
  @media (max-width: 500px) {
    main {
      margin-top: 50px; } }

h3 {
  font-family: Penna, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #348781;
  border-bottom: 1px solid #348781;
  width: 210px;
  margin: 0 auto; }

.portfolio {
  margin: 50px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.4); }
  .portfolio img {
    width: 470px;
    margin-top: 15px; }
    @media (max-width: 1050px) {
      .portfolio img {
        margin-top: 10%; } }
    @media (max-width: 500px) {
      .portfolio img {
        margin-top: 10%;
        margin-bottom: 10%; } }
  .portfolio .portfolioText {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px; }
    @media (max-width: 500px) {
      .portfolio .portfolioText {
        text-align: center; } }
    @media (max-width: 1050px) {
      .portfolio .portfolioText {
        color: white;
        padding-right: 10px;
        padding-left: 10px; }
        .portfolio .portfolioText .sixcol {
          margin-right: 10px;
          margin-left: 10px; } }
  .portfolio h4 {
    font-family: Penna, sans-serif;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase; }
  .portfolio .visitSite {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    outline: 1px solid white;
    width: 160px;
    padding: 7px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4); }
    .portfolio .visitSite a {
      color: teal;
      font-weight: bold;
      text-decoration: none; }
    .portfolio .visitSite:hover {
      border: 2px solid black; }
      .portfolio .visitSite:hover a {
        font-weight: bold;
        color: teal; }

.skills {
  margin: 50px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.4); }

.effect1 {
  display: none;
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  color: white; }

.effect2 {
  display: none;
  width: 1150px;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  color: white;
  padding: 20px; }

.toggle {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center; }

h5 {
  font-family: "Death", sans-serif;
  font-size: 5.5em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 10px;
  margin: 0 auto; }
  @media (max-width: 500px) {
    h5 {
      font-size: 4em; } }

#h5 {
  text-align: center; }

.skillspicture {
  width: 30%;
  text-align: center; }

.clip-svg {
  width: 0;
  height: 0; }

.polygon-each {
  padding: 10px;
  text-align: center; }

.polygon-each-img-wrap img {
  margin-bottom: 10px; }

@media only screen and (min-width: 800px) {
  .polygon-each {
    display: inline-block;
    width: 57%;
    vertical-align: top; }

  .polygon-each img {
    display: block;
    margin-left: auto;
    margin-right: auto; } }
img {
  max-width: 100%;
  height: auto; }

.polygon-clip-rhombus {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: url("#polygon-clip-rhombus");
  clip-path: url("#polygon-clip-rhombus"); }

.me {
  margin: 68px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.3); }
  .me .aboutText {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    color: white;
    margin: 10px 10px;
    line-height: 1.5; }
    .me .aboutText a {
      text-decoration: none; }
    .me .aboutText .aboutTextFirst {
      text-decoration: underline; }
    .me .aboutText .vetamer {
      color: white;
      margin-top: 20px;
      line-height: 1.5;
      text-align: justify;
      text-shadow: -0.5px -0.5px 0 crimson, 0.5px -0.5px 0 crimson, -0.5px 0.5px 0 crimson, 0.5px 0.5px 0 crimson; }

.moreAboutMe {
  text-align: justify;
  margin-left: 10px;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  color: white;
  margin: 10px 10px;
  line-height: 1.5; }
  @media (max-width: 500px) {
    .moreAboutMe {
      text-align: center; } }

#fact {
  text-align: center; }

.cv {
  font-family: Raleway, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid black;
  outline: 1px solid white;
  width: 160px;
  padding: 7px;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.4); }
  .cv a {
    color: teal;
    font-weight: bold;
    text-decoration: none; }
  .cv:hover {
    border: 2px solid black; }
    .cv:hover a {
      font-weight: bold;
      color: teal; }

.effect1 {
  text-align: justify; }

.footer {
  margin: 50px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.4);
  padding-bottom: 20px; }
  .footer .footerText {
    font-family: Raleway, sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 20px; }
  .footer img {
    width: 70px;
    margin-top: 15px; }

.rubriker {
  font-family: Penna, sans-serif;
  font-size: 3em;
  color: crimson;
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;
  margin-bottom: 20px;
  text-transform: uppercase; }

#fact .aboutTextFirst {
  text-decoration: underline; }

.skillsAnimation {
  font-family: 'Ubuntu', sans-serif;
  width: 960px; }
  @media (max-width: 1060px) {
    .skillsAnimation {
      width: 800px; } }
  @media (max-width: 900px) {
    .skillsAnimation {
      width: 700px; } }
  @media (max-width: 800px) {
    .skillsAnimation {
      width: 600px; } }
  @media (max-width: 700px) {
    .skillsAnimation {
      width: 500px; } }
  @media (max-width: 600px) {
    .skillsAnimation {
      width: 400px; } }
  @media (max-width: 500px) {
    .skillsAnimation {
      width: 300px; } }
  @media (max-width: 460px) {
    .skillsAnimation {
      width: 200px; } }
  @media (max-width: 400px) {
    .skillsAnimation {
      width: 100px; } }

p {
  color: #525252;
  font-size: 12px; }

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=style.css.map */
