@font-face {
  font-family: Penna;
  src: url(../fonts/penna.otf); }

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Light.ttf); }

@font-face {
  font-family: RalewayBold;
  src: url(../fonts/Raleway-Bold.ttf); }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Light.ttf); }

body {
  margin: 0px;
  background-color: #BCCBD3; }

/* Header */
header {
  padding-bottom: 40px;
  margin: 0 auto;
  background: url("/images/sky2.jpeg") repeat center center fixed;
  background-size: cover;
  background-color: #BCCBD3; }
  header h1 {
    display: block;
    margin: auto;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    padding-top: 15px;
    text-shadow: -1px -1px 0 #348781, 1px -1px 0 #348781, -1px 1px 0 #348781, 1px 1px 0 #348781;
    text-align: center;
    padding-top: 40px; }
    @media (min-width: 750px) {
      header h1 {
        font-family: Penna, sans-serif;
        font-size: 75px; } }
  header h2 {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-family: Raleway, sans-serif;
    font-size: 25px;
    color: #348781;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    text-align: center; }
    @media (min-width: 750px) {
      header h2 {
        font-family: Penna, sans-serif;
        font-size: 60px;
        margin-bottom: 40px; } }

/* Menu */
#show-menu {
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer; }
  @media (min-width: 500px) {
    #show-menu {
      top: 25px;
      right: 35px; } }

.menu ul {
  color: white;
  display: none;
  list-style: none;
  margin: 0px;
  text-align: left;
  padding-top: 20px;
  padding-left: 0px; }
  .menu ul li {
    font-family: OpenSans, sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    margin: 0 25px 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.42);
    padding: 12px 0;
    text-align: center; }
    .menu ul li a {
      color: #fff; }
      .menu ul li a:hover {
        color: pink; }
      .menu ul li a::after {
        content: "";
        position: absolute;
        bottom: 24px;
        height: 1px;
        width: 0%;
        left: 50%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
        opacity: 0.78;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }

/* Main */
main {
  background-color: #BCCBD3;
  /* Portfolio */ }
  main .introduction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white; }
    @media (min-width: 750px) {
      main .introduction {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; }
        main .introduction .intropart {
          flex: 1;
          align-items: center;
          height: 400px; } }
    main .introduction .intropart {
      display: flex;
      align-items: center; }
      @media (min-width: 750px) {
        main .introduction .intropart:first-child {
          background-color: rgba(255, 255, 255, 0.2); } }
      main .introduction .intropart img {
        width: 300px;
        height: 300px;
        border-radius: 150px;
        margin: auto;
        display: block;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 25px; }
      main .introduction .intropart p {
        margin: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        color: white;
        padding: 25px 25px;
        text-align: center;
        align-items: center; }
  main .tag {
    display: none;
    width: 70px;
    margin-left: 30px;
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Chrome, Safari, Opera */
    transform: rotate(7deg); }
  @media (min-width: 500px) {
    main .tag {
      display: inline;
      float: right;
      margin-right: 30px; } }
  @media (min-width: 700px) {
    main .tag {
      float: right;
      margin-right: 50px; } }
  main .submenu {
    display: flex;
    justify-content: center; }
    main .submenu ul {
      list-style: none;
      display: inline-flex;
      padding: 0px;
      margin-top: 25px;
      margin-bottom: 0px; }
      main .submenu ul li {
        margin: 0px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative; }
        main .submenu ul li h5 {
          font-family: OpenSans, sans-serif;
          font-size: 23px;
          color: white;
          text-transform: uppercase;
          text-align: center;
          background-color: transparent;
          margin-top: 10px;
          font-size: 19px;
          text-transform: inherit;
          display: none; }
        main .submenu ul li img {
          width: 70px;
          cursor: pointer;
          margin: auto; }
  @media (min-width: 750px) {
    main .submenu ul li img {
      width: 80px; } }
  main .skills {
    text-align: center; }
    main .skills h5 {
      font-family: OpenSans, sans-serif;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      background-color: rgba(202, 214, 220, 0.68);
      padding: 5px 10px;
      border: 1px solid transparent;
      -webkit-transition: border-color 1s ease;
      -moz-transition: border-color 1s ease;
      -o-transition: border-color 1s ease;
      -ms-transition: border-color 1s ease;
      transition: border-color 1s ease;
      text-align: center;
      margin-bottom: 0px;
      display: inline-flex;
      margin-top: 25px; }
      main .skills h5:hover {
        cursor: pointer; }
    main .skills ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      justify-content: center;
      padding: 25px;
      margin: 0px;
      max-width: 600px;
      margin: auto; }
      main .skills ul li {
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        color: white;
        display: inline;
        padding: 5px;
        margin: 5px;
        background-color: rgba(70, 204, 181, 0.5); }
        main .skills ul li:nth-child(1), main .skills ul li:nth-child(2), main .skills ul li:nth-child(3), main .skills ul li:nth-child(4) {
          background-color: #46ccb5; }
        main .skills ul li:nth-child(5), main .skills ul li:nth-child(6), main .skills ul li:nth-child(7), main .skills ul li:nth-child(8), main .skills ul li:nth-child(9) {
          background-color: rgba(70, 204, 181, 0.8); }
        main .skills ul li:nth-child(10) {
          background-color: rgba(70, 204, 181, 0.7); }
  main .work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
    main .work h5 {
      font-family: OpenSans, sans-serif;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      background-color: rgba(202, 214, 220, 0.68);
      padding: 5px 10px;
      border: 1px solid transparent;
      -webkit-transition: border-color 1s ease;
      -moz-transition: border-color 1s ease;
      -o-transition: border-color 1s ease;
      -ms-transition: border-color 1s ease;
      transition: border-color 1s ease; }
      main .work h5:hover {
        cursor: pointer; }
    main .work .work-place {
      display: flex;
      flex-direction: column; }
      main .work .work-place ul {
        list-style: none;
        padding: 40px 25px 25px 25px;
        margin: 0px; }
        main .work .work-place ul li:first-child {
          font-family: OpenSans, sans-serif;
          font-size: 18px;
          color: white;
          border-bottom: 1px solid white; }
        main .work .work-place ul li:nth-child(2) {
          font-family: OpenSans, sans-serif;
          font-size: 18px;
          color: white;
          font-size: 17px; }
        main .work .work-place ul li:nth-child(3) {
          font-family: OpenSans, sans-serif;
          font-size: 18px;
          color: white;
          font-size: 15px;
          color: #dcf5ff; }
        main .work .work-place ul li:nth-child(4) {
          font-family: OpenSans, sans-serif;
          font-size: 18px;
          color: white;
          font-size: 15px;
          color: #dcf5ff; }
        main .work .work-place ul li img {
          width: 20px;
          padding-left: 5px; }
      main .work .work-place p {
        padding: 0px 25px;
        margin: 0px;
        font-family: OpenSans, sans-serif;
        font-size: 18px;
        color: white; }
  @media (min-width: 800px) {
    main .work {
      display: flex;
      flex-direction: row; }
      main .work .work-place {
        flex: 1 50%;
        margin-bottom: 25px;
        overflow: hidden; } }
  main .about-me {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    color: white;
    padding: 25px; }
    main .about-me ul {
      color: #dcf5ff; }
      main .about-me ul li {
        padding: 5px; }
  main .photos {
    width: 100%;
    text-align: center; }
    main .photos img {
      width: 132px; }
  @media (min-width: 375px) {
    main .photos img {
      width: 160px; } }
  @media (min-width: 414px) {
    main .photos img {
      width: 179px; } }
  @media (min-width: 768px) {
    main .photos img {
      width: 236px; } }
  @media (min-width: 1024px) {
    main .photos {
      padding-top: 10px; }
      main .photos img {
        width: 158px; } }
  @media (min-width: 800px) {
    main .about-me {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      main .about-me .caption {
        width: 70%; }
        main .about-me .caption span {
          color: #dcf5ff; }
      main .about-me .sidebar {
        width: 30%; } }
  main .skills {
    margin-top: 40px;
    position: relative;
    background: rgba(180, 192, 198, 0.76); }
  main .skills:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  main .skills:before {
    border-bottom-color: rgba(180, 192, 198, 0.76);
    border-width: 35px;
    margin-left: -144px; }
  @media (min-width: 750px) {
    main .skills:before {
      margin-left: -155px; } }
  main .work {
    margin-top: 40px;
    margin-bottom: 25px;
    position: relative;
    background: rgba(180, 192, 198, 0.76); }
  main .work:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  main .work:before {
    border-bottom-color: rgba(180, 192, 198, 0.76);
    border-width: 35px;
    margin-left: -36px; }
  main .about-me {
    margin-top: 40px;
    margin-bottom: 25px;
    position: relative;
    background: rgba(180, 192, 198, 0.76); }
  main .about-me:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  main .about-me:before {
    border-bottom-color: rgba(180, 192, 198, 0.76);
    border-width: 35px;
    margin-left: 75px; }
  @media (min-width: 750px) {
    main .about-me:before {
      margin-left: 87px; } }
  main #first {
    padding-top: 25px; }
  main .portfolio {
    display: flex;
    flex-direction: column; }
    main .portfolio:nth-child(1) {
      border-top: 1px solid white; }
    @media (min-width: 750px) {
      main .portfolio {
        flex-direction: row;
        height: 300px; } }
    main .portfolio .item {
      border: 1px solid white;
      flex: 1;
      position: relative;
      margin: 10px 10px 10px 10px; }
      main .portfolio .item h3 {
        font-family: OpenSans, sans-serif;
        font-size: 23px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 0px;
        background-color: rgba(0, 0, 0, 0.8);
        border-bottom: 3px solid #36c3ab; }
      @media (min-width: 1025px) {
        main .portfolio .item h3 {
          border-bottom: 3px solid rgba(0, 0, 0, 0.01);
          -webkit-transition: border-color 1s ease;
          -moz-transition: border-color 1s ease;
          -o-transition: border-color 1s ease;
          -ms-transition: border-color 1s ease;
          transition: border-color 1s ease; }
        main .portfolio .item:hover h3 {
          border-bottom: 3px solid #36c3ab; }
        main .portfolio .item:hover h4 {
          border: 2px solid #36c3ab; } }
      main .portfolio .item .block-over {
        overflow: scroll;
        background-color: white;
        z-index: 1;
        width: 90%;
        margin: auto;
        position: absolute;
        top: 30px;
        left: 20px;
        bottom: 20px;
        right: 20px;
        display: none; }
        main .portfolio .item .block-over ul {
          list-style: none;
          display: inline-flex;
          flex-wrap: wrap;
          padding: 0px 20px 0px 20px;
          justify-content: center;
          flex-direction: row;
          width: 90%; }
          main .portfolio .item .block-over ul li {
            margin: 5px 10px 5px 10px;
            font-family: OpenSans, sans-serif;
            font-size: 18px;
            color: white;
            color: #36c3ab;
            font-size: 17px; }
        main .portfolio .item .block-over p {
          font-family: OpenSans, sans-serif;
          font-size: 18px;
          color: white;
          color: black;
          font-size: 16px;
          padding: 25px;
          margin: 0px; }
        main .portfolio .item .block-over .close {
          color: black;
          position: absolute;
          right: 10px;
          top: 5px;
          cursor: pointer;
          width: 20px; }
      main .portfolio .item .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 200px;
        background-color: rgba(0, 0, 0, 0.8); }
        @media (min-width: 750px) {
          main .portfolio .item .buttons {
            position: absolute;
            bottom: 0px;
            width: 100%;
            margin-top: 0px; } }
        main .portfolio .item .buttons h4 {
          font-family: OpenSans, sans-serif;
          font-size: 15px;
          color: black;
          text-transform: uppercase;
          text-align: center;
          width: 130px;
          padding: 5px 0px 5px 0px;
          cursor: pointer;
          border-radius: 3px;
          background-color: white;
          margin: 10px; }
          main .portfolio .item .buttons h4:hover {
            background-color: rgba(255, 255, 255, 0.9); }
          main .portfolio .item .buttons h4 a {
            text-decoration: none;
            color: black; }
    main .portfolio .project-1 {
      background-image: url("../images/amado-grey.png");
      background-size: cover;
      background-position: 40% 0%;
      opacity: 0.8; }
      main .portfolio .project-1:hover {
        opacity: 1; }
    main .portfolio .project-2 {
      background-image: url("../images/metal-grey.png");
      background-size: cover;
      background-position: 40% 0%;
      opacity: 0.8; }
      main .portfolio .project-2:hover {
        opacity: 1; }
    main .portfolio .project-3 {
      background-image: url("../images/moviesearch-grey.png");
      background-size: cover;
      background-position: 40% 0%;
      opacity: 0.8; }
      main .portfolio .project-3:hover {
        opacity: 1; }
    main .portfolio .project-4 {
      background-image: url("../images/fof-grey.png");
      background-size: cover;
      background-position: 40% 0%;
      opacity: 0.8; }
      main .portfolio .project-4:hover {
        opacity: 1; }
    main .portfolio .project-5 {
      background-image: url("../images/quizmeqiuck-grey.png");
      background-size: cover;
      background-position: 40% 0%;
      opacity: 0.8; }
      main .portfolio .project-5:hover {
        opacity: 1; }
    main .portfolio .project-6 {
      background-image: url("../images/wordpress-grey.png");
      background-size: cover;
      background-position: 40% 0%;
      opacity: 0.8; }
      main .portfolio .project-6:hover {
        opacity: 1; }

/* Footer */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid white; }
  .footer-wrapper .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .footer-wrapper .footer:first-child {
      background-color: #A4B4BC; }
    .footer-wrapper .footer .contact a, .footer-wrapper .footer .contact p {
      font-family: OpenSans, sans-serif;
      font-size: 18px;
      color: white;
      color: black;
      font-size: 15px; }
    .footer-wrapper .footer .contact .mail {
      width: 150px;
      height: 110px; }
    .footer-wrapper .footer .contact .phone {
      width: 170px;
      height: 67px;
      padding-top: 20px;
      padding-bottom: 20px; }
    @media (min-width: 750px) {
      .footer-wrapper .footer .contact .phone {
        width: 200px;
        height: 80px;
        padding-bottom: 0px; } }
    .footer-wrapper .footer a {
      margin: 20px 20px 20px 20px; }
      .footer-wrapper .footer a img {
        width: 60px;
        height: 60px; }

@media (min-width: 500px) {
  .footer-wrapper {
    border: 1px solid white;
    flex-direction: row; }
    .footer-wrapper .footer {
      flex-grow: 1;
      width: 50%;
      padding-bottom: 30px; }
      .footer-wrapper .footer .icons {
        padding-top: 30px; }
      .footer-wrapper .footer .contact {
        margin: 0px 20px; }
        .footer-wrapper .footer .contact p, .footer-wrapper .footer .contact a {
          font-size: 16px; } }

.copy {
  width: 100%;
  text-align: center;
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  color: white;
  font-size: 10px;
  padding-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
  color: rgba(180, 192, 198, 0.76);
  margin: 0px; }

/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
